.profile-container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f4f6f8;
}

.profile-card{
  width:350px;
  padding:30px;
  background:white;
  border-radius:12px;
  box-shadow:0 8px 25px rgba(0,0,0,0.1);
}

.profile-card h2{
  margin-bottom:20px;
  text-align:center;
}

.profile-item{
  margin-bottom:15px;
}

.profile-item span{
  font-size:13px;
  color:#888;
}

.profile-item p{
  font-size:16px;
  font-weight:500;
  margin:4px 0 0;
}